<h1>{{name}} - <span style='color:#858585'>{{ country }}</span>
</h1>
<h4>{{genre}}</h4>
<hr>
<h4>Albums:</h4>
<ol>
  {{#each albums}}
  <li>{{title}}</li>
  {{/each}}
</ol>

<a href="/artist/edit/{{_id}}"><button>Edit artist</button></a>